{% extends "base.html" %}

{% block title %}
    Add Package
{% endblock %}

{% block header %}
    Package Manager GoGoTours
{% endblock %}

{% block content %}
    <div class="row d-flex ">
        <form id="add-package-form" method="post" class="form col-12 d-flex align-items-center">
            <div class="row">
                <label class="col-4 form__label" for="name">Nombre del tour:</label>
                <input class="col-8 form__input" type="text" id="name" name="packageName" required/>
            </div>
            <div>
                <label class="col-4 form__label" for="description">Descripción del tour:</label>
                <input class="col-8 form__input" type="text" id="description" name="packageDescription" required/>
            </div>
            <div>
                <label class="form__label" for="destination_place">Lugar de destino:</label>
                <input class="form__input" type="text" id="destination_place" name="packageDestinationPlace" required/>
            </div>
            <div>
                <label class="form__label" for="duration">Duración del tour (días):</label>
                <input class="form__input" type="number" id="duration" name="packageDuration" required/>
            </div>
            <div>
                <label class="form__label" for="max_capacity">Capacidad máxima:</label>
                <input class="form__input" type="number" step="1" id="max_capacity" name="packageMaxCapacity" required/>
            </div>
            <div>
                <label class="form__label" for="cost">Costo del tour ($):</label>
                <input class="form__input" step="0.01" type="number" id="cost" name="packageCost" required/>
            </div>
            <div>
                <label class="form__label" for="start_date">Fecha de inicio:</label>
                <input class="form__input" type="date" id="start_date" name="packageStateDate" required/>
            </div>
            <div>
                <label class="form__label" for="end_date">Fecha final:</label>
                <input class="form__input" type="date" id="end_date" name="packageEndDate" required/>
            </div>
            <div>
                <label class="form__label" for="end_date">Imágen (Url):</label>
                <input class="form__input" type="url" id="url" name="packageUrl" required/>
            </div>
            <button class="button button--primary" type="submit" id="send-button">Agregar tour</button>
        </form>
    </div>

{% endblock %}

{% block page %}
    add packages
{% endblock %}
