{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block header %}
    Home GoGoTours
{% endblock %}

{% block content %}
    {% for package in packages %}

        <div>
            <p>Nombre: {{ package.name }}</p>
            <p>Duración: {{ package.duration }}</p>
            <p>Fecha de inicio: {{ package.start_date }}</p>
        </div>

        <a href="{{ url_for('package_detail', name=package.name) }}">
            <button tabindex="-1">
                Más información
            </button>
        </a>

    {% endfor %}

    <!-- If user is ADMIN  -->
     <div class="d-flex align-items-end ">
             <a href="addPackage" class=" button  button--primary">Añadir tour +</a>
     </div>

{% endblock %}

{% block page %}
    tours
{% endblock %}