{% extends "base.html" %}

{% block title %}
    Detalles del paquete
{% endblock %}

{% block header %}
    Home GoGoTours
{% endblock %}

{% block content %}
    <div>
        <p>ID: {{ package.id }}</p>
        <p>Nombre: {{ package.name }}</p>
        <p>Duración: {{ package.duration }}</p>
        <p>Fecha de inicio: {{ package.start_date }}</p>
    </div>

    <form id="chat-form" method="post">
        <button type="submit" id="send-button">
            ¡Reserva ahora!
        </button>
    </form>

     <!-- If user is ADMIN  -->
     <div class="d-flex align-items-end ">
             <a href="../edit_package/{{ package.name }}" class=" button  button--secondary">
                 Editar información
             </a>
     </div>
    <div class="d-flex align-items-end ">
             <a href="/" class=" button  button--primary">Eliminar tour</a>
     </div>


{% endblock %}
